@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.cover-bg-color {
  background-color: rgb(253, 232, 235);
}

.image-size {
  height: 100%;
  width: 100%;
}
.price {
  color: #ff136f;
}
.send-bg:hover {
  background-color: #ff136f;
  color: white;
}
.white {
  color: white;
}
.buy-now-button {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.buy-shoes-button {
  background-image: linear-gradient(to bottom, #494646 0%, #201f1f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
